:root{
    --cor1: #EC7611;
    --cor2: #0096D1;
}

html {
    font-family: sans-serif;
}

body {
    background-color: antiquewhite;
    margin: 0;
}

.section1 {
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */
}

.logo-title {
    display: flex;
    width: 100%;
    align-items: center;
    background-color: var(--cor2);
    border-radius: 0 0 20px 20px;
    color: antiquewhite;
    margin-bottom: 20px;
}

/* Link não visitado */
a:link {
    color: antiquewhite;
}

/* Link visitado */
a:visited {
    color: antiquewhite;
}

/* Link quando o mouse está sobre ele */
a:hover {
    color: antiquewhite;
}
  
.logo {
    border-radius: 15px;
    margin: 10px;
    width: 10vw;
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.nav-buttons {
    width: 50%;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    /* width: 80%; */
}

li {
    list-style-type: none;
}

.button-list {
    padding: 5px;
    border: 2px solid antiquewhite;
    border-radius: 10px;
    list-style-type: none;
    font-size: 1.5vw;
}

.button-list:hover {
    background-color: var(--cor1);
    border-color: var(--cor1);
    color: antiquewhite;
}

a {
    text-decoration: none;
}

.quadro-img-turma {
    display:flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.img-turma {
    width: 95%;
    height: auto;
}

.img-text-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.img-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1.5px solid black;
    max-width: 30%;
    /* padding: 0 10px; */
    border-radius: 10px;
    margin-bottom: 20px;
}

.img-text h3 {
    border-style: solid;
    border-bottom-color: var(--cor2);
    border-width: 0 0 3px 0;
}

.img-text:hover h3 {
    border-bottom-color: var(--cor1);
}

.container-card {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-card {
    border-radius: 10px 10px 0 0;
    width: 100%;
    /* height: 100%; */
    /* object-fit:cover; */
}

.title-text-card {
    display: flex;
    /* text-align: center; */
    justify-content: center;
    /* height: 100%; */
}

.title-card {
    margin: 10px 0;
    max-width: 80%;
    text-align: center;
}

.text-card {
    padding: 0 10px 10px;
    margin: 0;
    text-align: justify;
    /* height: 100%; */
}

.rodape {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    background-color: var(--cor2);
    border-radius: 20px 20px 0 0;
    color: antiquewhite;
}

.rodape-info {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 80%;
    justify-content: space-evenly;
}

.address {
    max-width: 30%;
    margin-top: 10px;
}

.redes-sociais {
    margin-top: 10px;
}

.contato {
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px 0 0 0;
}

.address h3 {
    margin: 0;
    border-style: solid;
    border-bottom-color: var(--cor1);
    border-width: 0 0 3px 0;
}

.address p {
    margin: 10px 0 0 0;
}

.redes-sociais h3 {
    margin: 0;
    border-style: solid;
    border-bottom-color: var(--cor1);
    border-width: 0 0 3px 0;
}

.icone-rede-social {
    font-size: 2vw;
}

.list-card ul {
    padding: 0 10px 10px;
    margin: 0;
    margin: 0;
}

.list-card li {
    list-style-type: circle;
}