:root {
    --white: #fff;
    --gray-100: #E1E1E6;
    --gray-300: #C4C4CC;
    --gray-400: #8D8D99;
    --gray-600: #323238;
    --gray-700: #29292E;
    --gray-800: #202024;
    --gray-900: #121214;

    --green-300: #00B37E;
    --green-500: #00875F;

    --red-500: #F75A68;
}

:focus {
    outline: transparent;
    box-shadow: 0 0 0 2px var(--green-500);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--gray-900);
    color: var(--gray-300);
    -webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem; /* Bom para acessibilidade: 1 unidade relativa do tamanho padrão de fonte do HTML (16px). O tamanho irá se adequar de acordo com o tamanho de fonte do dispositivo do usuário. */
}