body {
    background-color: antiquewhite;
}

.logo img {
    width: 5vw;
}

.banner {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.frase {
    background-color: #06234A;
    color: white;
    padding: 10px 60px;
}

.button-menu {
    margin: 10px
}

.button-menu li {
    margin: 10px
}

.button-menu button{
    background-color: #06234A;
    color: white;
}

.nav-pills .nav-link.active {
    color: white;
    background-color: navy;
    border-color: navy;
}

.nav-pills .nav-link:hover {
    color: white;
}

.nav-link:disabled {
    color: white;
    background-color: grey;
}

/* .nav-tabs .nav-link.active {
    color: white;
    background-color :navy;
    border-color: navy;
}

.nav-tabs .nav-link:hover {
    color: white;
}

.nav-link:disabled {
    color: white;
    background-color: grey;
} */

/* .titulo-video {
    background-color: antiquewhite;
    padding: 20px 20px 0 20px;
    color: #06234A;
} */

.videos, .livros {
    padding: 20px;
    background-color: antiquewhite;
}

.card-video {
    min-height: 300px;
}

.img-livro {
    max-height: 500px;
    /* object-fit: cover; */
}

.footer {
    background-color: #06234A;
    color: white;
}
