.logo img {
    width: 5vw;
}

.banner {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.frase {
    background-color: #06234A;
    color: white;
    padding: 10px 60px;
}

.titulo-video {
    background-color: antiquewhite;
    padding: 10px 20px;
    color: #06234A;
}

.videos {
    padding: 20px;
    background-color: antiquewhite;
}

.card-video {
    min-height: 300px;
}

.footer {
    background-color: #06234A;
    color: white;
}
