.quadro {
    border-width: 2px;
    border-color: var(--cor-principal2);
    border-style: solid;
    border-radius: 10px;
    margin: 20px 10px 0 10px;
    max-width: 90%;
    /* width:fit-content;
    height: fit-content; */
    /* min-width: 30%; */
    /* margin: 0 10px; */
    /* padding: 10px; */
}

.espacoTituloQuadro {
    text-align: center;
    background-color: var(--cor-principal2);
    border-radius: 5px 5px 0 0;
    padding: 5px;
}

.tituloQuadro {
    color: antiquewhite;
    font-weight: bold;
}

.corpoQuadro {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    /* align-items: center; */
}

.quadroInfo {
    display: flex;
    /* max-width: 90%; */
    justify-content: space-between;
    align-items: center;
    margin: 5px 10px;
}

.labelQuadro {
    font-size: 15px;
}

.inputQuadro {
    background-color: antiquewhite;
    margin-left: 10px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom-width: 1px;
    border-color: var(--cor-principal2);
    border-style: solid;
    color: black;
    /* max-width: 50%; */
    box-sizing: border-box;
}

/* input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none; Remove a setinha do input do tipo number
    margin: 0;
} */

.inputQuadro:hover {
    border-color: var(--cor-principal);
}

.inputQuadro:focus {
    outline-color: var(--cor-principal); /* Define a cor da borda quando o input está focado */
    caret-color: var(--cor-principal2);
}

.quadroBotao {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    /* align-items: center; */
}

.botao {
    background-color: var(--cor-principal2);
    border: none;
    padding: 10px;
    border-radius: 10px;
    color: antiquewhite;
    font-weight: bold;
}

.botao:hover {
    background-color: var(--cor-hover); /* Estilo para quando o mouse passa por cima */
    cursor: pointer; /* Altera o cursor quando o mouse passa por cima */
}

.tabelaQuadro {
    padding: 10px;
}

.tabelaQuadro th {
    /* font-size: 1vw; */
}

.tabelaScroll {
    /* overflow-x: auto !important; */
    overflow-y: auto;
    padding: 0 5px;
    max-height: 200px;
    /* min-width: 1200px; */
}

.semBorda {
    border:unset;
}

.arrasteTabela {
    display: none;
}

@media (max-width: 700px) {
    .arrasteTabela {
        display: initial;
    }
}

th, td {
    border: 1px solid var(--cor-principal2);
    padding: 8px;
    text-align: center;
    border-radius: 5px;
}

th {
    background-color: var(--cor-principal2);
    color: antiquewhite;
}

tbody tr:hover td:not(.botaoTabela) {
    background-color: var(--cor-principal);
    border-color: var(--cor-hover);
    color: antiquewhite;
    /* font-weight: bold; */ /* Comentei pois ao passar o mouse, o quadro aumentava e diminuia de tamanho */
}

tfoot tr:hover td:not(.semBorda) {
    background-color: var(--cor-principal);
    border-color: var(--cor-hover);
    color: antiquewhite;
    /* font-weight: bold; */ /* Comentei pois ao passar o mouse, o quadro aumentava e diminuia de tamanho */
}

.botaoTabela {
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.botaoExcluir {
    background-color: red;
}

.botaoEditar {
    background-color: var(--cor-principal);
}

.botaoSelect {
    color: #fff;
    border: none;
    /* padding: 5px; */
    border-radius: 5px;
    /* cursor: pointer; */
    background-color: var(--cor-principal);
    /* display: flex;
    align-items: center;
    justify-content: center; */
    align-content: center;
}

.botaoDisabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.tabelaValores tr:hover th {
    background-color: var(--cor-principal); /* Define uma cor de fundo para as células quando o mouse passa por cima */
    border-color: var(--cor-hover);
    color: antiquewhite; /* Altera a cor do texto das células quando o mouse passa por cima */
    font-weight: bold;
}

.maxHeight {
    max-height: 80px;
}

.campoValorFinal {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.valorFinal {
    font-weight: bold;
    font-size: 30px;
    color: var(--cor-principal);
}

/* .valor-final:hover {
    color: var(--cor-principal2);
} */