.quadroFrase {
    width: 100%; 
    text-align: center;
    padding-top: 20px;
}

.frase {
    font-style: italic;
    font-weight: bold;
    color: var(--cor-principal);
    font-size: 1.5rem;
}

.frase:hover {
    color: var(--cor-principal2);
}