.header {
    background: var(--gray-800);
    display: flex;
    justify-content: center;
    padding: 1.25rem 0;
    align-items: center;
}

.header img {
    height: 2rem;
    margin-right: 0.5rem;
}